apiVersion: 'external-secrets.io/v1beta1'
kind: ExternalSecret
metadata:
  name: {{ include "kiosk-control-panel.fullname" . }}-configuration
  annotations:
    deployTimestamp: {{ now | date "2006-01-02T15:04:05Z" }}
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: external-secrets-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: {{ include "kiosk-control-panel.fullname" . }}-configuration
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: /{{ .Values.env }}/{{ .Values.secretNameOverride | default ( include "kiosk-control-panel.fullname" . ) }}/env
